<!doctype html>
<html lang="ch" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="../common/head :: commonHeader('首页')"></head>

<body>
<div id="wrap">
    <!-- 左侧菜单栏目块 -->
    <div th:include="../common/DivSide :: divHead"></div>
    <!-- 右侧具体内容栏目 -->
    <div id="rightContent">
        <a class="toggle-btn" id="nimei">
            <i class="glyphicon glyphicon-align-justify"></i>
        </a>
        <!-- Tab panes -->
        <div style="color: #828e9a ;margin-left: 30%;margin-top: 15%">


            <h1> 无权限查看</h1>
        </div>
    </div>
</div>


</body>

</html>