<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>登录页面</title>
</head>
<body>
    <form action="VerifyLogin" name="loginfrom" accept-charset="utf-8" method="post">
        <label class="label-tips" for="u"> 账号:</label>
        <input type="text" id="u" name="username" class="inputstyle"/>
        <div>
            <label class="lable-tips" for="password"> 密码:</label>
            <input type="password" id="password" name="password" class="inputstyle" />
        </div>
        <input type="submit" name="登录"/>
        <a href="register"   target="_blank"> 注册</a>
        <a href="getList"    target="_blank"> 显示列表</a>
        <!-- a href="register.html" 其实是映射了@RequestMapping("/register") -->
    </form>
</body>
</html>